@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased selection:bg-amber-500 selection:text-black;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom Scrollbar for Luxury Aesthetic */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d97706;
}